.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data/external/sentences.csv

src/scripts/hash-method.R
src/features/bin/*
src/features/__pycache__/*
src/features/include/*
src/features/scratch.py

*.pyc